/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #a7bbd3;
  --ifm-color-primary-dark: #8ea8c6;
  --ifm-color-primary-darker: #819ec0;
  --ifm-color-primary-darkest: #5b81ad;
  --ifm-color-primary-light: #c0cee0;
  --ifm-color-primary-lighter: #cdd8e6;
  --ifm-color-primary-lightest: #f3f5f9;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
